{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="display: flex; justify-content: center;">
<form method="POST" class="my-login-validation" novalidate="" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- Email input -->
    <div class="form-outline mb-4">
        {{form.username}}
      <label class="form-label" for="form2Example1">Username</label>
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
        {{form.password1}}
      <label class="form-label" for="form2Example2">Password</label>
    </div>

    <div class="form-outline mb-4">
        {{form.password2}}
      <label class="form-label" for="form2Example2">Password</label>
    </div>
  
  
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
  
    <!-- Register buttons -->
    <div class="text-center">
      <p>Already a member? <a href="#!">Login</a></p>
    </div>
  </form>

</div>
{% endblock %}